{#
/**
 * @file
 * Custom theme implementation to display a single Drupal page without
 * sidebars. The sidebars are hidden by regions_hidden for this theme, so
 * the default page.html.twig will not work without throwing exceptions.
 */
#}

  <div id="page-wrapper"><div id="page">

    <div id="header"><div class="section clearfix">

      {% if logo %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      {% endif %}

      {% if site_name or site_slogan %}
        <div id="name-and-slogan">
          {% if site_name %}
            {% if title %}
              <div id="site-name"><strong>
                <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
              </strong></div>
            {# Use h1 when the content title is empty #}
            {% else %}
              <h1 id="site-name">
                <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
              </h1>
            {% endif %}
          {% endif %}

          {% if site_slogan %}
            <p id="site-slogan">{{ site_slogan }}</p>
          {% endif %}
        </div><!-- #name-and-slogan -->
      {% endif %}

      {{ page.header }}

    </div></div> <!-- /.section, /#header -->

    {% if main_menu or secondary_menu %}
      <div id="navigation"><div class="section">
        {{ main_menu }}
        {{ secondary_menu }}
      </div></div> <!-- /.section, /#navigation -->
    {% endif %}

    {% if breadcrumb %}
      <div id="breadcrumb">{{ breadcrumb }}</div>
    {% endif %}

    {{ messages }}

    <div id="main-wrapper"><div id="main" class="clearfix">

      <div id="content" class="column"><div class="section">
        {% if page.highlighted %}<div id="highlighted">{{ page.highlighted }}</div>{% endif %}
        <a id="main-content"></a>
        {{ title_prefix }}
        {% if title %}<h1 class="title" id="page-title">{{ title }}</h1>{% endif %}
        {{ title_suffix }}
        {% if tabs %}<div class="tabs">{{ tabs }}</div>{% endif %}
        {{ page.help }}
        {% if action_links %}<ul class="action-links">{{ action_links }}</ul>{% endif %}
        {{ page.content }}
        {{ feed_icons }}
      </div></div> <!-- /.section, /#content -->
    </div></div> <!-- /#main, /#main-wrapper -->

    <div id="footer"><div class="section">
      {{ page.footer }}
    </div></div> <!-- /.section, /#footer -->

  </div></div> <!-- /#page, /#page-wrapper -->
